
body {
	background-color: #efeff5;
	padding-top: 60px
}

blockquote {
    margin: 0 0 20px;
    border-left: 0;
    position: relative;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

h2 {
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

p{
    font-family: 'Roboto Slab';
    font-size: 20px;
    text-align: center;
}

.carousel-caption {
    font-family: 'Lobster Two', cursive;
}

/*h3 {  background: rgba(0,0,0,0.5);
    max-width: 360px;
    text-align: center;}*/

.about { 
min-height: 100%;
padding-top: 50px;
text-align: center;
}

.join-us { 
min-height: 100%;
padding-top: 50px;
text-align: center;
}

.form { 
min-height: 100%;
padding-top: 50px;
text-align: center;
}

.contact {
    min-height: 100%;
padding-top: 50px;
text-align: center;

}

#social-buttons button {
float: center;
color: white;
}

#sidebar {
    width:300px;
    float:left;
}

#content {
    width:724px;
    float:right;
    padding-left:24px;
}

/* navigation */
nav {
    width:100%;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 12px;

}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav a {
    font-family: 'Lobster';
}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
      float: left;
}

/*a .nav-active {
    color:#ecf9f2;
}
nav {
   background-color: rgba(0,0,0,0.5);
}*/

.navbar .transparent .navbar-inverse .navbar-fixed-top {
background:transparent;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
width: 100%;
line-height: 1;
text-align: center;
}

/*.carousel-item {
	width:900px;
	height:500px;

}*/