
body {
	background-color: #efeff5;
	padding-top: 60px
}

blockquote {
    margin: 0 0 20px;
    border-left: 0;
    position: relative;
}


h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

h2 {
    font-family: 'Lobster Two', cursive;
    text-align: center;
}


.about { 
min-height: 100%;
padding-top: 50px;
text-align: center;
}

.join-us { 
min-height: 100%;
padding-top: 50px;
text-align: center;
}

.form { 
min-height: 100%;
padding-top: 50px;
text-align: center;
}

.contact {
    min-height: 100%;
padding-top: 50px;
text-align: center;

}

#social-buttons button {
text-align: center;
color: white;

}

.btn-twitter {

background-color: #00acee;

border-color: #009ad5;

}

.btn-facebook {

background-color: #4868ac;

border-color: #314776;

}

.btn-pinterest {

background-color: #b62f26;

border-color: #b62f26;

}



#sidebar {
    width:300px;
    float:left;
}

#content {
    width:724px;
    float:right;
    padding-left:24px;
}

/* navigation */
nav {
    width:100%;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 12px;

}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;


}

nav a {
    font-family: 'Cabin', sans-serif;
}


nav li a {
    color:rgb(50,50,50);
    font-weight:700;
      float: left;
    
}

/*a .nav-active {
    color:#ecf9f2;

}

nav {
   background-color: rgba(0,0,0,0.5);
}*/

.navbar .transparent .navbar-inverse .navbar-fixed-top {
background:transparent;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
width: 100%;
line-height: 1;
text-align: center;
}

/*.carousel-item {
	width:900px;
	height:500px;

}*/